nav, footer{
    background:rgb(6, 22, 241);
    color:white;
    }ul li:nth-child(odd)
     {
        background:blueviolet;
    color:rgb(251, 251, 252);
    }
    nav a{
        color:white;
        }
        .site-title{
            color:rgb(0, 17, 255);
            }
            #my‐image {
                box-shadow: 1px 3px 3px #0004ffd1;
            
            }